*{
    margin: 0;
    padding: 0;
}

.blocoFundo{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: aqua;

    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;

    border-radius: 50px;
}
input, button{
    margin-top: 20px;
}